body {
    margin: 0;
    padding: 0;
    font-family: Menlo;
    font-size: 1.1vw;
}

h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#nav {
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: rgba(240, 240, 255, 0.5);
    height: 70px;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    word-spacing: 90px;
}

#nav a {
    font-family: Menlo;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.container {
    height: 100vh;
    width: 100vw;
}

.container>div {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
/*
.left {
    width: 36vw;
    height: 100%;
    float: left;
    margin-left: -36vw;
}

.right {
    width: 100%;
    height: 100%;
    float: right;
}*/

.left {
    width: 36vw;
    height: 100%;
    float: left;
    margin-left: -36vw;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left>div {
    width: 86.5%;
    height: 95.26%;
    padding: 5%;
}

.right {
    position: relative;
    top: -2%;
    width: 104%;
    height: 104%;
    float: right;
    background-color: black;
    word-wrap: break-word;
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;*/
    border-radius: 10px;
    box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.3);
    background: url(ponganim.gif) no-repeat center;
    background-size: cover;
}

#display {
    width: 100%;
    height: 100%;
    background: url(advent.png) no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    transition-timing-function: ease-out;
}

.wrapper {
    height: 64vh;
    width: 80vw;
    position: absolute;
    top: 18vh;
    margin: auto;
    left: 10vw;
    border-radius: 1.5%;
    z-index: 1000;
}

.wrapper>div {
    height: 100%;
    margin-left: 36vw;
    border-radius: 1.5%;
}

.content {
    height: 70%;
    padding: 20px;
    overflow: scroll;
}

.content a, .footer a {
    text-decoration: none;
    color: black;
    box-shadow: inset 0px -12px 0px -10px black;
    -webkit-transition: box-shadow 0.05s, color 0.07s;
    transition: box-shadow 0.05s, color 0.07s;
}

.content a:hover, .footer a:hover {
    color: white;
    box-shadow: inset 0px -30px 0px -10px black;
}

.footer {
    left: 20px;
    width: 30.4vw;
    position: absolute;
    bottom: 20px;
}

.social {
    margin-top: 5px;
}

.social img {
    margin-top: 1%;
    max-height: 30px;
}

.bg {
    height: 64vh;
    width: 80vw;
    position: relative;
    top: 18vh;
    margin: auto;
    background-color: white;
    border-radius: 1.5%;
    box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.3);
}

#main {
    background-color: #EFEBCE;
}

#projects {
    background-color: lightgoldenrodyellow;
}

#about {
    background-color: skyblue;
}